<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
</head>
<body>
    <div>
        <% for (let i = 0; i < users.length; i++) { %>
            <form action="/chat" method="post">
                <input type="text" name="user" id="user" value="<%= user %>" hidden>
                <input type="text" name="friend" id="friend" value="<%= users[i].username %>" hidden>
                <input type="submit" value="<%= users[i].username %>">
            </form>
            
        <% } %>
    </div>
</body>
</html>